
<div class="container signup-container">
  <div class="row">
    <div class="col-md-12 signup-form">
      <h1> Sign up</h1>
      <%= form_for @user do |f| %>
        <div>
          <%= f.text_field :name, placeholder: "Name" %>
        </div>
        <div>
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div>
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <%= f.submit "Sign Up" %>
      <% end %>
    </div>
  </div>
</div>