<!DOCTYPE html>
<html>
  <head>
    <title>InnovatelyRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1><%= link_to "Innovately", "/"%></h1>
      <div>
        <ul>
          <% if current_user %>
            <li><%= link_to "Profile", current_user %>
            <li><%= link_to "Blogs", "/users/:user_id/blogs" %>
            <li><%= link_to "Logout", "/logout" %>
          <% else %>
            <li><%= link_to "Login", "/login" %></li>
            <li><%= link_to "Signup", "/new"%></li>
            <li>About</li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <div>
        <p>Copyright 2017</p>
        <p>By creativesnopeks</p>
      </div>
    </footer>
  </body>
</html>
